.image-preview-wrapper{
	background-color: #444;
}

.image-preview{
	position: relative;
	height: 400px;
	text-align: center;
	background-size: contain !important;
}

.tags-list{
	margin-left: -5px;
	margin-right: -5px;

	.tag{
		font-weight: 200;
		margin: 5px;
		display: inline-block;
		background-color: #eee;
		padding: 5px 15px;
	}
}

.image-info-wrapper{
	padding-bottom: 50px;
}

.image-info{
	table-layout: fixed;
	width: 100%;

	tr:nth-child(even){
		background-color: #f7f7f7;
	}

	td{
		padding: 5px;
	}

	.property{
		width: 150px;
		text-align: right;
		font-weight: 400;
	}
}