<div class="view" layout="column" drop-input ng-class="{'child-visible' : main.childVisible}">

  <header class="col-xs-12 text-center">
    <h1><strong><span style="color:#FF9D43">gi</span>hvin</strong></h1>
    <h3>postaajan kuva kirja</h3>
    <p>Upload with drag & drop</p>
  </header>

  <section name="image-list" class="view" scroll-y>
    <div class="row">
      <div class="view-header-offset col-xs-12 text-center">
        <h1><strong>gihvin</strong></h1>
        <h3>postaajan apu kirja</h3>
        <p>Upload with drag & drop</p>
      </div>

      <div class="gradient-top col-xs-12"></div>
<!--       <div class="image-tags tags-list col-xs-12 text-center">
        <div class="tag" ng-repeat="(tagIndex, tag) in main.album.tags track by tagIndex">
          <span ng-bind="tag"></span>
        </div>
      </div> -->

      <div class="image-import col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4 ">
        <h4 class="text-center">imgur import</h4>
        <div class="input-container">
          <input
            ng-blur="main.importFromString(main.importString)"
            type="text"
            name="name"
            ng-model="main.importString"
            ng-class="{'has-value' : main.importString}">
          <label>link to image</label>
        </div>
      </div>
      <div class="image-wrapper col-xs-12">
        <div class="image-container"
          ng-right-click="main.showImage(image)"
          ng-repeat="(imageIndex, image) in main.album.images track by image.id">
          <img image-loader="image" size="b">
          <div class="image-overlay ripple" copy-clipboard data-text="[img]{{image.link}}[/img]"></div>
        </div>
      </div>
    </div>
  </section>
</div>

<ui-view class="view-animate view-child"></ui-view>
