header, .view-header-offset{
	padding-top: 70px;
	padding-bottom: 70px;

	h1{
		font-size: 5.7rem;
	}


	p{
		margin-top: 15px;
		margin-bottom: 15px;
	}

	h1,h3{
		margin:10px 0;
	}
}

.view-header-offset{
	opacity:0;
}

// .view-child{
// 	position: absolute;
// 	top:0;
// 	left:0;
// 	right: 0;
// 	bottom: 0;
// 	width: auto;
// 	height: auto;
// 	background-color: rgba(0,0,0,0.5);
// 	z-index: 1;
// }

.view-child .view{
	background-color: rgba(255,255,255,0.95);
	box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.3);
}

@mixin cols($count){
	$width: 100%/$count;
	width: $width;
	padding-bottom: $width;
}

.image-wrapper{
	font-size: 0;

	.image{
		font-size: 10pt;
		position: relative;
		display: inline-block;
		vertical-align: top;
		height: 0;

		a{
			position: absolute;
			bottom: 0;
			left:0;
			width: 100%;
			text-align: center;
		}

		@include cols(10);

		@media (max-width: 1400px) {
			@include cols(8);
		}

		@media (max-width: 1000px) {
			@include cols(6);
		}
		@media (max-width: 700px) {
			@include cols(4);
		}
		@media (max-width: 500px) {
			@include cols(2);
		}


		img{
			width: 100%;
		}

		background-color: #eee;
		overflow: hidden;
		opacity:0.8;

		transition: 0.4s;
		transition-property: opacity;

		&:hover{
			opacity:1;
		}
	}

	.image-overlay{
		position: absolute;
		top:0;
		left:0;
		right: 0;
		bottom: 0;
		width: auto;
		height: auto;
	}
}

.image-embed{
	position: absolute;
	top:0;
	left:0;
	opacity:0;
	right: 0;
	bottom: 0;
}
